In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
import pickle

In [25]:
with open('../pickle/paris_campus.pickle', 'rb') as f:
    X_train = pickle.load(f)
    X_test = pickle.load(f)
    y_train = pickle.load(f)
    y_test = pickle.load(f)
    f.close()

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2312, 12), (579, 12), (2312,), (579,))

In [26]:
X_train.merge(y_train, left_index=True, right_index=True).head()

       00  01  02   03  04  05  06   07  08  09  r00  r01  final
1900  125  73   0  100  60  40   0  100   0  80  106    0     69
3587   88   0   0  100  60  90   0    0   0   0  100    0     56
2806    0   0   0    0   0   0   0    0   0   0    0    0      0
2714   31   0   0    0   0  15   0    0   0   0    0    0      0
2357    0   0   0    0   0   0   0    0   0   0    0    0      1

In [24]:
r00 = pd.DataFrame([X_train['r00'], y_train]).T.reset_index().drop('index', axis=1).shape

In [9]:
X_train['r00'] >= 50

4945     True
2772     True
3900     True
119      True
4680    False
5024    False
2987     True
1881     True
3039     True
3857    False
3808    False
2582    False
2659    False
984      True
3529    False
2        True
4978    False
2846    False
4011    False
1884    False
4076    False
3086     True
3265     True
3138     True
3533     True
4029     True
3788    False
103      True
3639     True
897      True
        ...
3072     True
983      True
2966    False
1287     True
2457    False
4932     True
4675     True
4610    False
2128     True
4907     True
3920     True
3735     True
3097     True
458      True
1843     True
2730     True
941      True
2941     True
1861    False
242      True
4772     True
4254     True
1214     True
4716     True
2351    False
3984    False
48      False
1621     True
3159     True
2480     True
Name: r00, Length: 2384, dtype: bool